<div class="content-block">
    <div class="dx-card responsive-paddings">
        <dx-load-panel [closeOnOutsideClick]="false" [(visible)]="cargando" [showPane]="true" [shading]="true"
            shadingColor="rgba(0,0,0,0.4)" message="Cargando...">
        </dx-load-panel>
        <dx-form class="formulario" [formData]="Proyectos" [labelLocation]="'top'" [showColonAfterLabel]="true"
            validationGroup="Grupos_Permisos" [showValidationSummary]="false">
            <dxi-item itemType="group" [colSpan]="6" [colCount]="6">

                <dxi-item dataField="proyecto"[colSpan]="1" [editorOptions]="{disable:disable_proyecto}">
                <dxi-validation-rule type="required" message="Id Requerido">
                </dxi-validation-rule></dxi-item>
                <dxi-item itemType="empty" [colSpan]="5"></dxi-item>
                
                <dxi-item dataField="nombre" [colSpan]="2"></dxi-item> 
                <dxi-item itemType="empty" [colSpan]="4"></dxi-item>

                <dxi-item dataField="descripcion" [colSpan]="3" editorType="dxTextArea" [editorOptions]="{height:'100'}"  ></dxi-item>
                <dxi-item itemType="empty" [colSpan]="3"></dxi-item>

            </dxi-item>
        </dx-form>
        <div class="botones-captura">
            <dx-button (click)="Grabar()" text="Grabar" icon="fas fa-save">
            </dx-button>
            <dx-button (click)="Limpiar()" text="Ignorar" icon="fas fa-broom">
            </dx-button>
            <dx-button (click)="Regresar()" text="Regresar" icon="fas fa-reply">
            </dx-button>
        </div>

    </div>
</div>